.main-header {
	height: 64px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;

	.greetings {
		margin: 0;
	}
	button:focus:not(:hover) {
		color: #000000d8;
		border-color: #d9d9d9;
	}
}
